@font-face {
	font-family: 'Orbitron';
	src: url('/fonts/Orbitron/orbitron-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Orbitron';
	src: url('/fonts/Orbitron/orbitron-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Orbitron';
	src: url('/fonts/Orbitron/orbitron-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Orbitron';
	src: url('/fonts/Orbitron/orbitron-black-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
