@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

html,
body,
h1,
h2,
main,
p,
canvas {
  margin: 0;
}

canvas#background {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
}

input,
button {
  appearance: none;
  border: none;
  background: none;
  color: #fff;
}

html {
  height: 100%;
}

body {
  font-family: "Dela Gothic One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
  background: #cd3f1c;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#container {
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 4rem;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: "Dela Gothic One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: lowercase;
}

input:focus {
  outline: none;
}

button {
  font-size: 2rem;
}

form {
  display: flex;
  border: 4px solid #fff;
  width: 100%;
}

#search {
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#geo_search {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  padding: 0 1.5rem 0.5rem;
  text-align: center;
}

#submit {
  padding: 0 1rem;
  border-left: 4px solid #fff;
}

h2 {
  margin: 0 auto;
  font-size: 8rem;
  line-height: 12rem;
}

h2.error {
  line-height: 8rem;
}

h2.loading {
  opacity: 0.5;
}

footer {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  main {
    padding: 0 1rem;
  }

  input {
    flex-grow: 1 100%;
  }

  h2 {
    font-size: 4rem;
    line-height: 4rem;
  }

  h2.error {
    line-height: 4rem;
  }

  footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
